@mixin button ($backround){
    width: 20%;
    height: 15%;
    background-image: $backround;
    font-size: large;
    border-radius: 5px;
    border: none;
    margin-top: 2%;

}
.boton{
    @include button($backround: linear-gradient(to left, red, orange));
}

