.card{
    @extend%contacto;
    transition: padding 0.8s ease;

    .card-titulo{
        color: white;
        font-size: 350%;
    }
    .card-texto{
        color: white;
        font-size: x-large;
    }
    .card:hover{
        padding: 3rem;
    }
    .card-title{
        display: flex;
        justify-content: start;
        font-size: x-large;
    }
    .card-text{
        color: black;
        display: flex;
        justify-content: center;
        font-size: x-large;
    }
    .precio{
        display: flex;
        justify-content: end;
        font-size: x-large;
        margin: 2%;
    }
    .card-link{
        display: flex;
        justify-content: start;
        font-size: x-large;
        margin-bottom: 5%;
        margin-left: 2%;
    }
    .card-title{
        color: black;
        font-size: 60px;
        margin-left: 2%;
    }
    .card-text{
        display: flex;
        justify-content: left;
        color: black;
        margin: 2%;
    }
}