.grilla{
    display: grid;
    grid-template-rows: 20% 60% 20%;
}
.footer{
    background-color: rgb(32, 32, 32);
    color: white;
    font-style: unset;
    font-size: medium;
}
.footer form{
    display: inline-block;
    margin: 5%;
    font-size:large;
    background-color: rgb(32, 32, 32);

}
.footer h3{
    display: inline-block;
    margin: 5%;
}
.footer h5{
    display: flex;
    justify-content: end;
    margin-right: 1%;
    margin-bottom: 1%;
}
.links{
    color: #716FD9;
}
.logo{
    margin:auto;
}
.barraDeNavegacion li{

    display: flex;
    justify-content: left;
    list-style: none;
    margin: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: large;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: gray;
} 
.planesDeDesarrollo{
    color: white;
}

#barra{
background-color: rgb(0, 0, 0);
}
#banner{
    font-size: 2cm;
    color: white;
    margin-bottom: 30%;
}
.top{
    background-color: black;
    display: inline-block;
}
html{
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boton{
    width: 20%;
    height: 15%;
    background-image: linear-gradient(to left, red, orange);
    font-size: large;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
}
.boton:hover{
    background-image: linear-gradient(to right, red, orange);
}
.card-titulo{
    color: white;
    font-size: 350%;
}
.card-texto{
    color: white;
    font-size: x-large;
}
.card{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 5%;
    border-radius: 10px;
    transition: padding 0.8s ease;
}
.card:hover{
    padding: 3rem;
}
.card-title{
    display: flex;
    justify-content: start;
    font-size: x-large;
}
.card-text{
    color: black;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.precio{
    display: flex;
    justify-content: end;
    font-size: x-large;
    margin: 4%;
}
.card-link{
    display: flex;
    justify-content: start;
    font-size: x-large;
    margin-bottom: 5%;
    margin-left: 2%;
}
.card-title{
    color: black;
    font-size: 40px;
    margin-left: 4%;
}
.card-text{
    display: flex;
    justify-content: left;
    color: black;
    margin: 4%;
}
.contacto{
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 1%;
    border-radius: 10px;
}
.formContacto{
    font-size: x-large;
    margin: 2%;
}
.enviar{
    margin: 3%;
    margin-bottom: 5%;
    color: white;
    background-color: rgb(61, 61, 228);
    border-radius: 5px;
    height: 5%;
    width: auto;
}
.enviar:hover{
    background-color: rgb(94, 94, 231) ;
}
.opciones{
    color: white;
}
.selecciones{
    border-radius: 10px;
    height: auto;
    width: auto;
    background-color: rgb(168, 164, 164);
    font-size: medium;
    color: black;
}
.selecciones:hover{
    background-color: rgb(94, 92, 92);
}

.card-img-top{
    width: 100%;
    border-radius: 10px;
}
.cards{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    border-radius: 10px;
    transition: padding 0.8s ease;
}
.cards:hover{
    padding: 3rem;
}
.intro{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
.nosotros{
    color: white;
    background-color: #716FD9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    margin-bottom: 10%;
}
